.search-container {
    display: flex;
    justify-content: center;
    flex-direction: column;
    margin: 0 auto;
}

.icon-home {
    margin: 0 5px;
    color: var(--icon);
    font-size: 16px;
    ;
}

.search-btn-disabled {
    opacity: 0.5;
    cursor: not-allowed;
}

.color-icons {
    display: flex;
    gap: 20px;
}

.fa-camera {
    background: conic-gradient(from -150deg, #ea4335 110deg, #4285f4 90deg 180deg, #34a853 100deg 270deg, #fbbc05 270deg) 60% 12%/170% 150% no-repeat;
    -webkit-background-clip: text;
    background-clip: text;
    font-size: 20px;
    cursor: pointer;
    color: transparent;
    -webkit-text-fill-color: transparent;
}

.fa-microphone {
    background: conic-gradient(from -150deg, #ea4335 110deg, #4285f4 90deg 180deg, #34a853 180deg 270deg, #fbbc05 270deg) 70% 12%/150% 150% no-repeat;
    -webkit-background-clip: text;
    background-clip: text;
    font-size: 20px;
    cursor: pointer;
    color: transparent;
    -webkit-text-fill-color: transparent;
}

.search-icon-bg {
    background: none;
    border: none;
}

.icon-result {
    margin: 0 5px;
    color: var(--icon);
    font-size: 16px;
    cursor: pointer;
    padding: 8px;
    transition: 0.3s;
    border-radius: 50%;
}

.icon-result:hover {
    background: var(--icon-hover);
}

.icon-close {
    padding-right: 10px;
    color: var(--icon);
    cursor: pointer;
    font-size: 16px;
    border-right: var(--close-icon-border) solid 1px;
}

.search-home {
    width: 38vw;
    padding: 0 1rem;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    margin: 0 auto;
    border: var(--border-color) 1px solid;
    height: 2.8rem;
    border-radius: 20px;
}

.search-result {
    width: 38vw;
    padding: 0 1rem;
    display: flex;
    justify-content: flex-start;
    flex-direction: row-reverse;
    align-items: center;
    margin: 0 auto;
    border: var(--border-color) 1px solid;
    height: 2.8rem;
    border-radius: 20px;
}

.search-home:hover {
    box-shadow: rgba(0, 0, 0, 0.15) 0px 3px 8px;
}

.search-result:hover {
    box-shadow: rgba(0, 0, 0, 0.15) 0px 3px 8px;
}

.search-home input {
    margin-left: 0.5rem;
    border-radius: 20px;
    width: 100%;
    height: 100%;
    border: none;
    outline: none;
}

.search-result input {
    margin-left: 0.5rem;
    border-radius: 20px;
    width: 100%;
    height: 100%;
    border: none;
    outline: none;
}

.search-result input:focus {
    outline: none;
}

.search-home input {
    outline: none;
}

input[type="search"]::-webkit-search-decoration,
input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-results-button,
input[type="search"]::-webkit-search-results-decoration {
    display: none;
}

.search-btn {
    display: flex;
    justify-content: center;
}

@media screen and (max-width: 600px) {
    .search-container {
        display: flex;
        justify-content: center;
        flex-direction: column;
        margin: 0 auto;
    }
    .icon-home {
        margin: 0 5px;
        color: var(--icon);
        font-size: 16px;
        ;
    }
    .color-icons {
        display: flex;
        gap: 20px;
    }
    .search-icon-bg {
        background: none;
        border: none;
    }
    .icon-result {
        display: none;
    }
    .icon-close {
        padding-right: 10px;
        color: var(--icon);
        cursor: pointer;
        font-size: 16px;
        border-right: var(--close-icon-border) solid 1px;
    }
    .search-home {
        width: 82vw;
        padding: 0 1rem;
        display: flex;
        justify-content: flex-start;
        align-items: center;
        margin: 10px auto;
        border: var(--border-color) 1px solid;
        height: 2.8rem;
        border-radius: 20px;
    }
    .search-result {
        width: 82vw;
        padding: 0 1rem;
        display: flex;
        justify-content: flex-start;
        flex-direction: row-reverse;
        align-items: center;
        margin: 0 auto;
        border: var(--border-color) 1px solid;
        height: 2.8rem;
        border-radius: 20px;
    }
    .search-home:hover {
        box-shadow: rgba(0, 0, 0, 0.15) 0px 3px 8px;
    }
    .search-result:hover {
        box-shadow: rgba(0, 0, 0, 0.15) 0px 3px 8px;
    }
    .search-home input {
        margin-left: 0.5rem;
        border-radius: 20px;
        width: 100%;
        height: 100%;
        border: none;
        outline: none;
    }
    .search-result input {
        margin-left: 0.5rem;
        border-radius: 20px;
        width: 100%;
        height: 100%;
        border: none;
        outline: none;
    }
    .search-result input:focus {
        outline: none;
    }
    .search-home input {
        outline: none;
    }
    input[type="search"]::-webkit-search-decoration,
    input[type="search"]::-webkit-search-cancel-button,
    input[type="search"]::-webkit-search-results-button,
    input[type="search"]::-webkit-search-results-decoration {
        display: none;
    }
    .search-btn {
        display: flex;
        justify-content: center;
    }
}

@media screen and (max-width: 992px) {
    .search-container {
        display: flex;
        justify-content: center;
        flex-direction: column;
        margin: 0 auto;
    }
    .icon-home {
        margin: 0 5px;
        color: var(--icon);
        font-size: 16px;
        ;
    }
    .color-icons {
        display: flex;
        gap: 20px;
    }
    .fa-camera {
        background: conic-gradient(from -150deg, #ea4335 110deg, #4285f4 90deg 180deg, #34a853 100deg 270deg, #fbbc05 270deg) 60% 12%/170% 150% no-repeat;
        -webkit-background-clip: text;
        background-clip: text;
        font-size: 20px;
        cursor: pointer;
        color: transparent;
        -webkit-text-fill-color: transparent;
    }
    .fa-microphone {
        background: conic-gradient(from -150deg, #ea4335 110deg, #4285f4 90deg 180deg, #34a853 180deg 270deg, #fbbc05 270deg) 70% 12%/150% 150% no-repeat;
        -webkit-background-clip: text;
        background-clip: text;
        font-size: 20px;
        cursor: pointer;
        color: transparent;
        -webkit-text-fill-color: transparent;
    }
    .search-icon-bg {
        background: none;
        border: none;
    }
    .icon-result {
        margin: 0 5px;
        color: var(--icon);
        font-size: 16px;
        cursor: pointer;
        padding: 8px;
        transition: 0.3s;
        border-radius: 50%;
    }
    .icon-result:hover {
        background: var(--icon-hover);
    }
    .icon-close {
        padding-right: 10px;
        color: var(--icon);
        cursor: pointer;
        font-size: 16px;
        border-right: var(--close-icon-border) solid 1px;
    }
    .search-home {
        width: 60vw;
        padding: 0 1rem;
        display: flex;
        justify-content: flex-start;
        align-items: center;
        margin: 0 auto;
        border: var(--border-color) 1px solid;
        height: 2.8rem;
        border-radius: 20px;
    }
    .search-result {
        width: 45vw;
        padding: 0 1rem;
        display: flex;
        justify-content: flex-start;
        flex-direction: row-reverse;
        align-items: center;
        margin: 0 auto;
        border: var(--border-color) 1px solid;
        height: 2.8rem;
        border-radius: 20px;
    }
}