/*Global styles*/

:root {
    font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
    --border-color: #d7d7d7;
    --search-btn: #ebebeb;
    --search-btn-hover: #bfbfbf;
    --icon: #5e5e5e;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body,
#root {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}