/*Global styles*/

:root {
    font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
    --border-color: #d7d7d7;
    --search-btn: #ebebeb;
    --search-btn-hover: #bfbfbf;
    --icon: #5e5e5e;
    --icon-hover: #e4e4e4;
    --close-icon-border: #d3d3d3;
    --nav-blue-btn: #1b77ef;
    --nav-blue-btn-hover: #1268d8;
    --result-title: #4e4bab;
    --result-text: #202020;
    --loader: #6093d5;
    --pages: #121de9;
    --page-disabled: #7c7c7c;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body,
#root {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}