footer {
    display: block;
    width: 100%;
    font-size: 14px;
    font-family: arial, sans-serif;
    color: #202124;
    background: #f2f2f2;
    margin-top: auto;
}

footer p {
    padding: 1rem 3rem;
    border-bottom: #cdcdcd solid 1px;
    font-weight: 400;
    color: #5a5a5a;
}

.sub-footer {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 1rem 2rem;
}

.sub-footer ul {
    margin: 0;
    display: flex;
    list-style: none;
}

.sub-footer ul li {
    cursor: pointer;
    margin: 0 1rem;
    font-weight: 400;
    color: #5a5a5a;
}

.sub-footer ul li:hover {
    text-decoration: underline;
}

@media screen and (max-width: 600px) {
    footer {
        display: block;
        width: 100%;
        font-size: 14px;
        font-family: arial, sans-serif;
        color: #202124;
        background: #f2f2f2;
        margin-top: auto;
    }
    footer p {
        padding: 1rem 3rem;
        border-bottom: #cdcdcd solid 1px;
        font-weight: 400;
        color: #5a5a5a;
    }
    .sub-footer {
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 1rem 2rem;
    }
    .sub-footer ul {
        margin: 0;
        display: flex;
        flex-direction: column;
        list-style: none;
    }
    .sub-footer ul li {
        cursor: pointer;
        margin: 5px 1rem;
        font-size: 12px;
        font-weight: 400;
        color: #5a5a5a;
    }
}

@media screen and (min-width: 700px) and ( max-width: 900px) {
    .sub-footer ul {
        margin: 0;
        display: flex;
        width: 45%;
        gap: 10px;
        justify-content: baseline;
        flex-wrap: wrap;
        list-style: none;
    }
}