.results-container {
    display: flex;
    width: 55%;
    flex-direction: column;
    align-items: flex-start;
    margin-top: 1rem;
    margin-bottom: 4rem;
    padding-left: 12rem;
}

.under-nav {
    margin-top: 2.5rem;
    display: flex;
    justify-content: flex-start;
    padding-left: 11.5rem;
    padding-bottom: 1rem;
    border-bottom: 1px solid var(--border-color);
}

.under-nav-list {
    display: flex;
    gap: 10px;
    list-style: none;
}

.under-nav-list li {
    cursor: pointer;
    padding: 12px 15px;
    border: 1px solid var(--border-color);
    border-radius: 40px;
    text-align: center;
    line-height: 1;
    transition: 0.1s;
}

.under-nav-list li:hover {
    background: var(--icon-hover);
}

.result-block {
    margin: 1rem 0;
}

.result-block small {
    color: var(--icon);
}

.result-block h2 {
    color: var(--result-title);
    cursor: pointer;
}

.result-block h2:hover {
    text-decoration: underline;
}

.selected-image {
    position: absolute;
    right: 10rem;
    display: flex;
    justify-content: center;
    flex-direction: column;
    gap: 10px;
    width: 25%;
    border: 1px solid var(--border-color);
    padding: 10px;
    border-radius: 5px;
}